<!-- Loads the path to your static files-->
{%  load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'ship/style.css' %}" />

<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!--logo -->
        <div class=navbar-header">
            <a class="navbar-brand" href="{% url 'ship:index' %}">big-brother</a>

        </div>
    </div>

</nav>
{% if all_departments %}

    <h3>Here are the ship departments</h3>
    <ul>
        {% for department in all_departments %}
        <li><a href="{% url 'ship:detail' department.id %}">{{ department.department_name }}</a></li>
        {% endfor %}
    </ul>
{% else %}
<h3>no departments in database</h3>
{% endif %}