<!-- Loads the path to your static files-->
{%  load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'ship/style.css' %}" />

<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!--logo -->
        <div class=navbar-header">
            <a class="navbar-brand" href="{% url 'ship:index' %}">ship</a>
{#            <a class="navbar-brand" href="{% url 'ship:records' %}">records</a>#}

        </div>
    </div>

</nav>
{% if all_departments %}

    <h1>Here are the ship departments</h1>
    <ul>
        {% for department in all_departments %}
        <li><a href="{% url 'ship:detail' department.id %}">{{ department.department_name }}</a></li>
        {% endfor %}
    </ul>
{% else %}
<h3>no departments in database</h3>
{% endif %}

{% if all_records %}

    <h1>Here are all the ship records</h1>
    <ul>
        {% for singlerecord in all_records %}
        <li>{{ singlerecord.tag_string}}, {{singlerecord.time_stamp}}, {{singlerecord.compartment }}</li>
        {% endfor %}
    </ul>
{% else %}
<h3>no records in database</h3>
{% endif %}